<footer style="background-color: rgba(0,0,0,0.8);width:100%" class="">
  <div id="split"  style="display: inline-flex;text-align: center; margin-bottom: 5px;width:100%;">
      <div id="left" style="color: darkgray;width: 50%;text-align: center;  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0;">
          <a href=""><p i18n>Site Map</p></a>
          <a href=""><p i18n>RSS</p></a>
          <a href=""><p i18n>Our Affiliates</p></a>
          <a href=""><p i18n>Contact Us</p></a>
      </div>
      <div id="right" style="color: darkgray; width: 50%;text-align: center;  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0;">
          <a href=""><p i18n>View Us On Facebook</p></a>
          <a href=""><p i18n>Opening Times</p></a>
          <a href=""><p i18n>Location</p></a>
          <a href=""><p i18n>Privacy Policy</p></a>
      </div>
  </div>
  <br>
<div id="footer" style="text-align: center;margin-bottom: 10px;margin-top:10px;">
  <a name="facebook" title="View us on Facebook" href=""><fa-icon style="margin:2px" class="fa fa-facebook" [icon]="faFacebookF"></fa-icon></a>
  <a name="twitter" title="View us on Twitter" href=""><fa-icon style="margin:2px" class="fa fa-twitter" [icon]="faTwitter"></fa-icon></a>
  <a name="instgram" title="View us on Instagram" href="https://www.instagram.com/dfzservice/"><fa-icon style="margin:2px" class="fa fa-instagram" [icon]="faInstagram"></fa-icon></a>
  <a name="youtube" title="View us on Youtube" href=""><fa-icon style="margin:2px" class="fa fa-youtube" [icon]="faYoutube"></fa-icon></a>
  <a name="call us" title="Call us now!" href="tel:+4796880514" style="margin:2px" class="fa fa-phone"><fa-icon style="margin:2px" [icon]="faPhone"></fa-icon></a>
</div>
<br>

  <a style="display: block;" href="tel:+4796880514">
  <div  style="padding:5px;font-size: 1.5em;color: white;text-align: center;  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 0;">
      <b>(+47) 96 88 05 14</b>
      <br>
  </div>
</a>
  <div style="color: white;text-align: center;  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0;">
      Dufferzvien 8, 6420 Oslo
<br>
      <a href="mailto:firmapost@dfzservice.no"> firmapost@DFZService.no</a>
      <br><br>
  </div>
  <div i18n id="bottom" style="color: white;text-align: center;  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0;">
      © 2020 DFZ Service &amp; Repair is a registered trademark of Duff Repair.
      <br>
      <span style="font-size: 0.8rem;">This is a FAKE STORE. NO ORDERS WILL BE PROCESSED</span>

  </div>
</footer>
