<div class="card-container">
  <div class="cardd" tabindex="0">
    <fa-icon [icon]="faBook"></fa-icon>
    <span i18n style="padding-left: 5px">
          Read Our Catalogs
      </span>
  </div>

  <div class="cardd" tabindex="0">
    <fa-icon [icon]="faSmile"></fa-icon>
    <span i18n style="padding-left: 5px">
          100% Satisfied Guarantee
      </span>
  </div>

  <div class="cardd" tabindex="0">
      <fa-icon [icon]="faTruck"></fa-icon>

      <span i18n style="padding-left: 5px">
          Fast Delivery!
      </span>
  </div>

  <div class="cardd" tabindex="0">
    <fa-icon [icon]="faWrench"></fa-icon>
    <span i18n style="padding-left: 5px">
          Service Workshop
      </span>
  </div>

  <div class="cardd" tabindex="0">
    <fa-icon [icon]="faMoneyBill"></fa-icon>
    <span i18n style="padding-left: 5px">
          Flexible Financing Solutions
      </span>
  </div>

</div>
