<div [@fadeInAnimation] class="topCarousel">
  <ngb-carousel [@fadeInAnimation] [showNavigationIndicators]="showNavigationIndicators">
    <ng-template [@fadeInAnimation] ngbSlide>
      <img [@fadeInAnimation] src="/assets/images/banners/workshop.webp" class="slides w-100" alt="...">

                  <div [@fadeInAnimation] style="background-color: rgba(0,0,0,0.7);border-radius: 20px;"
                      class="carousel-caption d-block">
                      <h5 i18n style="color:darkorange">
                          Service Workshop
                      </h5>
                      <p i18n>
                          Competitive Pricing with fast turnaround!
                          <br>
                          3-5 Days Average!

                      </p>
                  </div>
    </ng-template>
    <ng-template [@fadeInAnimation] ngbSlide>
      <img [@fadeInAnimation] src="/assets/images/banners/hondagenerator.webp" class="slides w-100" alt="...">

                  <div [@fadeInAnimation] style="background-color: rgba(0,0,0,0.7);border-radius: 20px;"
                      class="carousel-caption d-block">
                      <h5 i18n style="color:darkorange">
                          Electric Generators
                      </h5>
                      <p i18n>
                          Home and Industrial Options available!
                          <br>
                          1-15kV!

                      </p>
                  </div>
    </ng-template>
  </ngb-carousel>
  </div>
