
.heading {
  padding-top:10px;
  font-family: 'Lalezar';
  font-size: 3rem;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 5px 5px 0;
}
.details{
  width: 100%;
  overflow: hidden;
  color:white;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  border: 2px solid rgba(255, 255, 255, 0.3);
}
.cartTable{

  width:100%;
  color:white;
  display: table;
border: 2px solid rgba(255, 255, 255, 0.3);
border-radius: 10px;
// padding:10px;
border-collapse: separate !important;
border-spacing: 0!important;
text-align: center;
}
td{
  padding:10px;
  margin:0;
}
tr{
  width: 100%;
  margin:0;
}
thead{
  padding:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 800px) {
  .cartTable{
    width: 100%;
  }
  // td .btn{
  //   width:30px!important;
  //   height:30px!important;
  // }
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.7);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
